.footer {
  position: relative;
  .footer__top {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0 150px;
    padding-top: 35px;
    border-top: 2px solid #ccc;

    .footer__top__left {
      h4 {
        font-size: 18px;
        color: #000000d9;
        margin-bottom: 10px;
        font-weight: 600;
      }
      strong {
        font-size: 24px;
        color: #000000d9;
        font-weight: 300px;
        margin-bottom: 10px;
      }
      p {
        font-size: 14px;
        color: #000000d9;
        margin: 10px 0;
      }
    }
    .footer__top__center {
      ul {
        font-size: 20px;
        font-weight: 600;
        color: #000000d9;
        li {
          display: flex;
          align-items: center;
          gap: 3px;
          font-size: 15px;
          color: #000000d9;
          font-weight: 300px;
          padding: 8px;
          margin: 2px;
          font-weight: 400;
          svg {
            font-size: 12px;
          }
        }
      }
    }
    .footer__top__right {
      ul {
        font-size: 20px;
        font-weight: 600;
        color: #000000d9;
        li {
          font-size: 16px;
          color: #000000d9;
          padding: 8px;
          margin: 2px;
          font-weight: 400;
          display: flex;
          align-items: center;
          gap: 3px;
          svg {
            font-size: 12px;
          }
        }
        .footer__top__right__icon {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-top: 8px;
          font-size: 30px;
          svg {
            font-size: 30px;
          }
        }
      }
    }
  }
  .footer__content {
    background-color: black;
    padding-top: 22px;
    padding-bottom: 8px;
    .footer__mid {
      color: #ccc;
      margin: 0 150px;
      .footer__mid__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          margin-bottom: 8px;
          font-size: 24px;
          color: #fff;
          text-transform: uppercase;
          margin-bottom: 8px;
        }
        p {
          font-size: 14px;
          color: #fff;
          transition: all 0.2 ease;
          &:hover {
            opacity: 0.8;
            cursor: pointer;
          }
        }
      }
      .footer__mid__center {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        gap: 5px;
        border-bottom: 1px solid #e1e1e1;
        .footer__mid__center___right__title,
        .footer__mid__center___mid__title,
        .footer__mid__center__left__title {
          margin-bottom: 20px;
          font-size: 18px;
          color: #fff;
        }

        .footer__mid__center__left__list-item {
          list-style-type: none;
          .footer__mid__center__left__item {
            display: flex;
            align-items: center;
            gap: 3px;
            margin-bottom: 18px;
            img {
              width: 20px;
              height: 20px;
              object-fit: cover;
            }
            p {
              font-size: 16px;
              color: #fff;
            }
            a {
              font-size: 16px;
              color: #f04e23;
            }
          }
        }
      }
    }
    .footer__bot {
      padding-top: 28px;
      padding-bottom: 36px;
      margin: 0 150px;
      display: flex;
      justify-content: space-between;
      .footer__bot__left {
        p {
          font-size: 16px;
          color: #fff;
          margin-bottom: 16px;
        }
      }
      .footer__bot__right {
        img {
          width: 200px;
          height: 75px;
          object-fit: cover;
        }
      }
    }
  }
}
.footer__top__left--red {
  color: red;
}
.footer__top__center--yellow {
  color: yellow;
}
.footer__top__right--green {
  color: green;
}
